html {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

.header {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid seashell;
  height: 69px;
  top: 0px;
  align-items: center;
  z-index: 1;
}

.logo img {
  display: flex;
  height: 50px;
  padding: 10px 10px;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
}

.nav {
  font-family: Helvetica;
  font-size: 22px;
  display: inline-flex;
  margin-left: auto;
  padding-right: 10px;
}

.header a {
  padding: 10px 10px;
  color: seashell;
  text-decoration: underline;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-end;
  text-align: right;
}

.content-container {
  padding-top: 70px;
}

#mission {
  background-image: url("../resources/images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mission-container {
  display: flex;
  width: 1200px;
}

.mission-statement {
  display: block;
  background-color: black;
  width: 100%;
}

.tea {
  display: block;
}

.items-container {
  display: flex;
  width: 1000px;
  height: 700px;
  margin: auto;
}

.items {
  flex-wrap: wrap;
  flex-direction: column;
}

.items img {
  justify-content: center;
  height: 200px;
  width: 300px;
}
